*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #1f1f1f;
}

.container{
    max-width: 70ch;
    min-width: 27ch;
    padding: 1.5rem;
    border: solid 3px;
    border-radius: 1rem;
    background: #101010; 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% 0;
}

.hadith_info{
    font-family: palatino;
    color: #82a8b5;
}

.narrator{
    font-weight: bold;
    font-size: 1.5em;
}

.book{
    font-weight: bold;
    text-align: right;
    font-size: 0.8em;
}

.hadith{
    color: #cedade;
    line-height: 2rem;
    font-size: 1em;
}